@page "/settings"
@using System.Text.RegularExpressions
@using Microsoft.JSInterop;
@using ShiftSoftware.ShiftBlazor.Enums;
@inject SettingManager SettingManager
@inject NavigationManager NavManager
@inject  IJSRuntime JsRuntime

@namespace ShiftSoftware.ShiftBlazor.Components

<style>
    .settings {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }
</style>

<MudDialog>
    <DialogContent>
        <h1>Settings</h1>
        <br />

        <h3>App Settings</h3>
        <MudGrid Style="align-items: end;" Spacing="0">

            <MudItem xs="3">
                <MudText>Language</MudText>
            </MudItem>

            <MudItem xs="9">
                <MudSelect Margin="Margin.Dense" T="LanguageInfo" Value="@Language" ValueChanged="LanguageChangedHandler" ToStringFunc="(lang) => lang.Label">
                    @foreach (var lang in SettingManager.Configuration.Languages)
                    {
                        <MudSelectItem Value="@lang">@lang.Label</MudSelectItem>
                    }

                </MudSelect>
            </MudItem>

            <MudItem xs="3">
                <MudText>DateTime format</MudText>
            </MudItem>

            <MudItem xs="9">
                <MudSelect Margin="Margin.Dense" T="string" Value="DateTimeFormat" ValueChanged="DateTimeFormatChangedHandler">
                    @foreach (var format in DateTimeFormats)
                    {
                        <MudSelectItem Value="@format">@format</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

        </MudGrid>

        <br />
        <br />

        <h3>DataGrid Settings</h3>
        <MudGrid Style="align-items: center;" Spacing="0">

            <MudItem xs="3">
                <MudText>DataGrid Items per page</MudText>
            </MudItem>

            <MudItem xs="9">
                <MudSelect Margin="Margin.Dense" T="int" Label="Items per page" Value="PageSize" ValueChanged="PageSizeChangedHandler" Dense="true" Style="@($"width: 150px;display: flex;")">
                    @foreach (var size in PageSizes)
                    {
                        <MudSelectItem Value="@size">@size</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

        </MudGrid>

        <br />
        <br />

        <h3>Form Settings</h3>
        <MudGrid Style="align-items: center;" Spacing="0">

            <MudItem xs="3">
                <MudText>Modal Position</MudText>
            </MudItem>

            <MudItem xs="9">
                <MudSelect Margin="Margin.Dense" T="DialogPosition" Value="DialogPosition" ValueChanged="DialogPositionChangedHandler">
                    @foreach (var pos in Enum.GetValues<DialogPosition>().Where(x => x != DialogPosition.Custom))
                    {
                        <MudSelectItem Value="@pos">@Regex.Replace(pos.ToString(), "([A-Z])", " $1").TrimStart()</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

            <MudItem xs="3">
                <MudText>Modal Size</MudText>
            </MudItem>

            <MudItem xs="9">
                <MudSelect Margin="Margin.Dense" T="MaxWidth" Value="ModalWidth" ValueChanged="ModalWidthChangedHandler">
                    @foreach (var width in Enum.GetValues<MaxWidth>())
                    {
                        <MudSelectItem Value="@width">@Regex.Replace(width.ToString(), "([A-Z])", " $1").TrimStart()</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

            <MudItem xs="3">
                <MudText>Form Close Behavior</MudText>
            </MudItem>

            <MudItem xs="9">
                <MudSelect Margin="Margin.Dense" T="FormOnSaveAction" Value="FormCloseAction" ValueChanged="FormCloseActionChangedHandler">
                    @foreach (var action in Enum.GetValues<FormOnSaveAction>())
                    {
                        <MudSelectItem Value="@action">@Regex.Replace(action.ToString(), "([A-Z])", " $1").TrimStart()</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

        </MudGrid>

    </DialogContent>

    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="ReloadPage">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {

    internal int[] PageSizes = new int[] { 5, 10, 50, 100, 250, 500 };
    public int PageSize { get; set; } = 10;
    public DialogPosition DialogPosition { get; set; } = DialogPosition.Center;
    public MaxWidth ModalWidth { get; set; } = MaxWidth.Large;
    public FormOnSaveAction FormCloseAction { get; set; } = FormOnSaveAction.ViewFormOnSave;
    public string FormBehavior { get; set; } = "";
    public LanguageInfo Language { get; set; } = default!;

    internal string DateTimeFormat = "";
    internal string[] DateTimeFormats = new string[] { "yyyy-MM-dd", "yyyy/MM/dd", "yy-M-d", "yy/M/d", "dd-MM-yyyy", "dd/MM/yyyy", "d-M-yy", "d/M/yy" };

    protected override void OnInitialized()
    {
        PageSize = SettingManager.Settings.ListPageSize;
        DateTimeFormat = SettingManager.Settings.DateTimeFormat;
        DialogPosition = SettingManager.Settings.ModalPosition;
        ModalWidth = SettingManager.Settings.ModalWidth;
        FormCloseAction = SettingManager.Settings.FormOnSaveAction;
        Language = SettingManager.Settings.CurrentLanguage;
    }

    internal void PageSizeChangedHandler(int size)
    {
        PageSize = size;
        SettingManager.SetListPageSize(size);
    }

    internal void DialogPositionChangedHandler(DialogPosition position)
    {
        DialogPosition = position;
        SettingManager.SetModalPosition(position);
    }

    internal void DateTimeFormatChangedHandler(string format)
    {
        DateTimeFormat = format;
        SettingManager.SetDateTimeFormat(format);
    }

    internal void ModalWidthChangedHandler(MaxWidth width)
    {
        ModalWidth = width;
        SettingManager.SetModalWidth(width);
    }

    internal void FormCloseActionChangedHandler(FormOnSaveAction action)
    {
        FormCloseAction = action;
        SettingManager.SetFormSaveAction(action);
    }

    internal void LanguageChangedHandler(LanguageInfo lang)
    {
        Language = lang;
        SettingManager.SwitchLanguage(lang, false);
    }

    internal async Task ReloadPage()
    {
        await JsRuntime.InvokeVoidAsync("reloadPage");
    }
}
