@page "/"
@using ShiftBlazor.Tests.Viewer.Components.ShiftList
@using ShiftBlazor.Tests.Viewer.Components.ShiftFormBasic
@using System.ComponentModel;
@using ShiftSoftware.ShiftEntity.Model.HashId;

<MudLayout>
    <MudAppBar Elevation="0">
        <MudText Typo="Typo.h6">@SelectedType?.Name</MudText>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer Open="@DrawerOpen" DisableOverlay="true" Variant="DrawerVariant.Responsive" ClipMode="DrawerClipMode.Always" Breakpoint="Breakpoint.Sm">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Components</MudText>
        </MudDrawerHeader>
        <MudList>
            @foreach (var groups in Components)
            {
                var groupName = groups.Key!.Split('.').Last();
                <MudListItem Style="cursor: pointer;" Text="@groupName" Expanded>
                    <NestedList>
                        @foreach (var type in groups)
                        {
                            <MudListItem Style="cursor: pointer;" OnClick="@(() => SelectedType = type)" @key="type.Name" Text="@type.Name.Replace(groupName, "")" />
                        }
                    </NestedList>
                </MudListItem>
            }
        </MudList>
    </MudDrawer>

    <MudMainContent Class="mt-4">

        <MudPaper Elevation="0" Style="padding: 24px; margin: 24px;">
            @if (SelectedType == null)
            {
                <span>Select a component</span>

            }
            else
            {
                <DynamicComponent Type="SelectedType" />
            }
        </MudPaper>

    </MudMainContent>
</MudLayout>

@code {
    IEnumerable<IGrouping<string?, Type>> Components = typeof(Program)
            .Assembly
            .GetTypes()
            .Where(types => !types.Name.Contains("<"))
            .Where(types => types.FullName?.StartsWith("ShiftBlazor.Tests.Viewer.Components") == true)
            .GroupBy(components => components.Namespace);

    Type? SelectedType;

    bool DrawerOpen = true;

    public string json = """{"@odata.context":"http://localhost:5226/odata/$metadata#Ticket","@odata.count":1,"value":[{"ID":"JOPmY","Name":"nm,.","IsDeleted":false}]}""";

    protected override void OnInitialized()
    {
        var data = System.Text.Json.JsonSerializer.Deserialize<ShiftSoftware.ShiftEntity.Model.Dtos.ODataDTO<TicketListDTO>>(json);
        var z = 1;
    }

    public class TicketListDTO : ShiftEntityListDTO
    {
        [_TicketHashId]
        public override string? ID { get; set; }
        public string? Name { get; set; }

    }

    public enum Languages
    {
        [Description("English")]
        English = 1,
        [Description("Arabic")]
        Arabic,
        [Description("Kurdish")]
        Kurdish
    }

    public enum TicketStatuses
    {
        [Description("New")]
        New = 1,

        [Description("Pending Customer Reply ")]
        PendingCustomerReply = 4,

        [Description("Answered On Another Phone")]
        AnsweredOnAnotherPhone = 22,
    }

    public class _TicketHashId : JsonHashIdConverterAttribute<_TicketHashId>
    {
        public _TicketHashId() : base(5) { }
    }
}