@namespace ShiftSoftware.ShiftBlazor.Components
@using static MudBlazor.Icons.Material

@if (Uploader.ReadOnly || !CanDelete)
{
    <MudChip @ondblclick="DownloadFile" OnClick="@DownloadTip" T="object">
        @renderFragment
    </MudChip>
}
else
{
    <MudChip @ondblclick="DownloadFile" OnClick="@DownloadTip" OnClose="@RemoveFile" T="object">
        @renderFragment
    </MudChip>
}

@code {
    [Parameter, EditorRequired]
    public UploaderItem Item { get; set; } = default!;

    [CascadingParameter]
    public FileUploader Uploader { get; set; } = default!;

    [Parameter]
    public bool CanDelete { get; set; } = default!;

    internal string Icon => Item.IsImage() ? Filled.Image : Filled.InsertDriveFile;

    internal RenderFragment renderFragment =>
        @<div style="display: flex;gap: 10px;">
            
            @if (Item.Message != null)
            {
                <MudTooltip Text="@(Item.Message?.Title ?? @Uploader.Loc["UploadFailedDefaultMessage"])">
                <MudIconButton OnClick="@(() => Uploader.UploadFileToAzureAsync(Item))" aria-label="@Uploader.Loc["UploadFailedDefaultMessage"]" Icon="@Filled.Error" Color="@Color.Error" Style="padding: 0;" />
                </MudTooltip>
            }
            else if (Item.IsWaitingForUpload || Item.State == FileUploadState.Uploading)
            {
                <MudProgressCircular aria-label="@Uploader.Loc["UploadInProgress"]" Indeterminate="Item.IsWaitingForUpload" Color="@Color.Primary" Size="@Size.Small" Value="Item.Progress" Max="1" />
            }
            else if (Uploader.ReadOnly || (Item.LocalFile == null && Item.File != null))
            {
                <MudIcon Icon="@Icon" />
            }
            else if (Item.State == FileUploadState.Uploaded)
            {
                // <MudIcon aria-label="@Uploader.Loc["FileUploadSuccess"]" Icon="@Filled.CheckCircle" Color="@Color.Success" />
            }
            <MudText>@Item.GetFileName()</MudText>
        </div>;

    internal async Task RemoveFile()
    {
        await Uploader.Remove(Item);
    }

    internal async Task DownloadFile()
    {
        if (Item.File != null)
        {
            await Uploader.DownloadFile(Item.File);
        }
    }

    internal void DownloadTip()
    {
        Uploader.MessageService.Info("Double click to download file");
    }
}