@namespace ShiftSoftware.ShiftBlazor.Components
@using static MudBlazor.Icons.Material

<MudPaper title="@Item.GetFileName()" Class="uploader-thumbnail" Style="position: relative;display: flex;overflow: hidden;flex-direction: column;color: #fff;">

    @*top row icons*@
    @if (!Uploader.ReadOnly && CanDelete)
    {
        <MudToolBar Dense Style="position: absolute;top: 0;left: 0;width: 100%;padding: 0;z-index: 100;">
             <MudSpacer />

             <MudTooltip Text="@Uploader.Loc["RemoveFile"]">
                 <MudIconButton OnClick="@(() => Uploader.Remove(Item))"
                                Icon="@Filled.RemoveCircle"
                                aria-label="@Uploader.Loc["RemoveFile"]"
                                Color="Color.Inherit" />
             </MudTooltip>
        </MudToolBar>
    }

    @*bottom row icons*@
    @if (Item.File != null)
    {
        <MudToolBar Dense Style="position: absolute; bottom: 0; left: 0;width: 100%;padding: 0;z-index: 10;">
            <MudSpacer />

            <MudTooltip Text="@Uploader.Loc["DownloadFile"]">
                <MudIconButton OnClick="@(() => Uploader.DownloadFile(Item.File))"
                            Icon="@Filled.Download"
                            aria-label="Download File"
                            Color="Color.Inherit" />
            </MudTooltip>
        </MudToolBar>
    }

    @if (Item.Message != null)
    {
        <div style="position:absolute;top: 0;left: 0;height: 100%;width: 100%;display: flex;align-items: center;justify-content: center;z-index: 10;background-color: #011c2d2e;">
            <MudTooltip Text="@(Item.Message?.Title ?? @Uploader.Loc["UploadFailedDefaultMessage"])">
                <MudIconButton OnClick="@(() => Uploader.UploadFileToAzureAsync(Item))"
                               Icon="@Filled.Error"
                               Color="Color.Error"
                               aria-label="@Uploader.Loc["UploadFailedDefaultMessage"]"
                               Size="Size.Large" />
            </MudTooltip>

        </div>
    }

    @* Only display image thumbnails after uploading has finished or when loading from server *@
    @if (Item.IsImage() && Item.State == FileUploadState.Uploaded)
    {
        <MudImage draggable="false"
                  Src="@($"{Item.File.Url}")"
                  Alt="@Item.GetFileName()"
                  Height="@Height"
                  Width="@Width"
                  ObjectFit="ObjectFit.Contain"
                  ObjectPosition="ObjectPosition.Center"/>
    }
    else
    {
        <MudIcon Icon="@(Item.IsImage() ? Filled.Image : Filled.InsertDriveFile)" Style=@($"height: {Height}px;width: {Width}px;")/>
    }

    @if (Item.IsWaitingForUpload || Item.State == FileUploadState.Uploading)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="Item.IsWaitingForUpload" Value="Item.Progress" Max="1" />
    }
    else if (Item.LocalFile != null)
    {
        @* <MudProgressLinear Color="Item.Message == null ? Color.Success : Color.Error" Value="100" /> *@
    }

</MudPaper>

@code {
    [Parameter, EditorRequired]
    public UploaderItem Item { get; set; } = default!;

    [Parameter]
    public int Width { get; set; } = 150;

    [Parameter]
    public int Height { get; set; } = 150;

    [CascadingParameter]
    public FileUploader Uploader { get; set; } = default!;

    [Parameter]
    public bool CanDelete { get; set; }
}