@using Syncfusion.Blazor.FileManager
@using Syncfusion.Blazor.Navigations
@using System.Text.Json
@namespace ShiftSoftware.ShiftBlazor.Components

<div id="@FileManagerId">
    <FileUploader @ref="_FileUploader"
                  DisableToolbar="true"
                  ContainerName="@ContainerName"
                  AccountName="@AccountName"
                  Prefix="@(this.FileManagerRoot + SfFileManager?.Path)"
                  DropAreaSelector="@($"#{FileManagerId}")"
                  HideUI="true"
                  ValuesChanged="Refresh" />

    <SfFileManager @ref="SfFileManager"
                   TValue="FileManagerDirectoryContent"
                   ShowThumbnail="true"
                   ShowTooltip
                   ShowFileExtension
                   ShowItemCheckBoxes="false"
                   EnableRangeSelection="false"
                   Height="@Height"
                   View="@View"
                   AllowMultiSelection>

        <FileManagerAjaxSettings HttpClientInstance="HttpClient"
                                 Url="@(Url?.AddUrlPath("FileOperations"))" />

        <FileManagerEvents TValue="FileManagerDirectoryContent"
                           BeforeImageLoad="OnBeforeImageLoad"
                           BeforeDownload="OnBeforeDownload"
                           FileSelected="OnFileSelected"
                           ItemsUploading="OnItemsUploading"
                           Searching="OnSearching"
                           BeforePopupOpen="OnBeforePopupOpen" />

        <FileManagerToolbarSettings ToolbarItems="@Items" />
        <FileManagerContextMenuSettings Visible="false" />

        <FileManagerUploadSettings MaxFileSize="@MaxUploadSize" AutoUpload="false" DropArea="@Guid.Empty.ToString()" />

    </SfFileManager>
</div>
