@using ShiftSoftware.ShiftIdentity.Blazor;
@using ShiftSoftware.ShiftIdentity.Core;
@inject ShiftIdentityBlazorOptions IdentityOptions
@inject ShiftBlazorLocalizer Loc

@namespace ShiftSoftware.ShiftBlazor.Components

<MudMenu Class="py-1 px-3"
         OpenChanged="IsOpenHandler"
         Modal="true"
         AnchorOrigin="Origin.BottomLeft"
         Style="align-items: center;gap: 8px"
         ActivationEvent="@ActivationEvent"
         ListClass="user-avatar-dropdown">

    <ActivatorContent>
        <div @onclick="context.ToggleAsync" style="display:flex;align-items:center;gap:8px;cursor:pointer;">
            <MudAvatar Color="Color.Tertiary">
                @if (userdata == null) {
                    <MudIcon Color="Color.Dark" Icon="@Icons.Material.Filled.Person" />
                }
                else
                {
                    @userdata.FullName.First()
                }
            </MudAvatar>

            @if (userdata == null)
            {
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="60px"></MudSkeleton>
            }
            else
            {
                <MudText>@userdata.FullName</MudText>
            }

            @if (ShowClosedOpenIcon)
            {
                <MudIcon Icon="@(IsOpen ? IconOpen : IconClosed )" />
            }
        </div>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Icon="@Icons.Material.Filled.People" Href="@($"{IdentityOptions.FrontEndBaseUrl}/{Constants.IdentityRoutePreifix}/UserDataForm")">@Loc["IdentityProfileButton"]</MudMenuItem>

        <MudMenuItem Icon="@Icons.Material.Filled.Settings" OnClick="OpenSettings">@Loc["SettingsButton"]</MudMenuItem>

        @if (MenuItemsTemplate != null)
        {
            <MudDivider/>
            @MenuItemsTemplate
            <MudDivider />
        }

        <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="Logout">@Loc["LogoutButton"]</MudMenuItem>
    </ChildContent>
</MudMenu>