@namespace ShiftSoftware.ShiftBlazor.Components
@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using Microsoft.JSInterop
@using MudBlazor.Utilities

<MudField InnerPadding="false"
          Class="@Classname"
          Style="@Stylename"
          Disabled="@IsDisabled"
          Variant="@Variant"
          Error="@Error"
          Underline="@Underline"
          @onclick="FieldClickHandler"
          ErrorText="@ErrorText">
    
    <MudStack Row Spacing="0" Class="@InputContainerClassname">

        @if (Adornment == Adornment.Start)
        {
            <div class="mud-input-adornment">
                <MudIconButton Class="mud-input-adornment-icon-button mud-no-activator"
                               Icon="@AdornmentIcon"
                               OnClick="@OnAdornmentClick"
                               Edge="@Edge.Start"
                               Size="@AdornmentSize"
                               Color="@AdornmentColor"
                               aria-label="@AdornmentAriaLabel"
                               tabindex="-1"
                               @onmousedown:stopPropagation />
            </div>
        }

        <MudTextField T="string"
                      @onfocus="InputFocusHandler"
                      OnBlur="InputBlurHandler"
                      Value="@DateTimeOffset?.DateTime.ToString()"
                      ValueChanged="SetDateTimeFromString"
                      Underline="false"
                      Class="@InputClassname"
                      Style="@InputStyle"
                      OnKeyDown="KeyDownHandler"
                      OnKeyUp="KeyUpHandler"
                      Required="Required" />


        <div style="height: 0;">
            <div class="mud-input-adornment">
                @if (DisplayClearable)
                {
                    <MudIconButton OnClick="ClearDateTime"
                                   Icon="@Icons.Material.Filled.Clear"
                                   Size="Size.Small"
                                   Edge="@Edge.End"
                                   tabindex="-1" />
                }

                @if (Adornment == Adornment.End)
                {
                    <MudIconButton Class="mud-input-adornment-icon-button mud-no-activator"
                                   Icon="@AdornmentIcon"
                                   OnClick="@OnAdornmentClick"
                                   Edge="@Edge.End"
                                   Size="@AdornmentSize"
                                   Color="@AdornmentColor"
                                   aria-label="@AdornmentAriaLabel"
                                   tabindex="-1"
                                   @onmousedown:stopPropagation />
                }
            </div>
        </div>
    </MudStack>

    <MudInputLabel Class="shift-label mud-input-label-inputcontrol"
                   Disabled="@IsDisabled"
                   Variant="@Variant"
                   ForId="@InputId">
        @Label
    </MudInputLabel>


    <MudPopover Open="IsPickerOpen"
                AnchorOrigin="@AnchorOrigin"
                TransformOrigin="@TransformOrigin"
                OverflowBehavior="@OverflowBehavior"
                Fixed="@DropdownFixed"
                Class="@DropdownClassname">
        <MudStack Row Spacing="0">
            <MudDatePicker PickerVariant="PickerVariant.Static"
                           Elevation="0"
                           MaxDate="MaxDate"
                           MinDate="MinDate"
                           Date="this.DateTimeOffset?.Date"
                           DateChanged="SetDate" />
            <MudTimePicker PickerVariant="PickerVariant.Static"
                           Elevation="0"
                           Time="this.DateTimeOffset?.TimeOfDay"
                           TimeChanged="SetTime" />
        </MudStack>

        @if (PickerActionsTemplate == null)
        {
            <MudToolBar>
                <MudSpacer/>
                <MudButton OnClick="ClosePicker">Close</MudButton>
            </MudToolBar>
        }
        else
        {
            @PickerActionsTemplate
        }
    </MudPopover>
</MudField>


<MudOverlay Visible="IsPickerOpen" LockScroll="@LockScroll" AutoClose OnClosed="ClosePicker">
    <div @ref="OverlayChildReference" style="display: none;"></div>
</MudOverlay>

<style>
    .shift-datetime-picker-popover {
        overflow: auto;
    }

    .shift-datetime-picker-popover .mud-picker-static > .mud-elevation-1 {
        box-shadow: none !important;
    }

    .shift-datetime-picker .mud-input-slot-nopadding {
        padding: 0 !important;
    }

    .shift-datetime-picker .mud-input-filled .shift-datetime-picker-input input.mud-input-root {
        padding: 27px 12px 10px;
    }

    .shift-datetime-picker .mud-input-outlined .shift-datetime-picker-input input.mud-input-root {
        padding: 18.5px 14px;
    }
</style>
