@typeparam T where T : ShiftEntityViewAndUpsertDTO, new()
@inherits ShiftFormBasic<T>
@namespace ShiftSoftware.ShiftBlazor.Components

@using ShiftSoftware.ShiftBlazor.Enums
@using Microsoft.AspNetCore.Components.Forms
@using ShiftSoftware.ShiftEntity.Model.Flags
@using ShiftSoftware.TypeAuth.Core

<CascadingValue Value="this" Name="ShiftForm">

<article style="height: 100%;" id="@($"Form-{Id}")">
    <MudFocusTrap Disabled="MudDialog == null" DefaultFocus="DefaultFocus.Element">

        <MudPaper Elevation="25" Style="height: 100%;">

            <header>
                @if (!DisableHeaderToolbar)
                {
                    <MudToolBar Dense="true" Class="light-toolbar shift-toolbar-header" Style="@ColorHelperClass.GetToolbarStyles(NavColor, NavIconFlatColor)">
                        <MudIcon Icon="@IconSvg"></MudIcon>
                        <MudText Class="px-4" Style="margin:0;">@GetTitle()</MudText>

                        @ToolbarStartTemplate

                        @if (TaskInProgress == FormTasks.Fetch)
                        {
                            <MudProgressCircular Color="NavIconFlatColor ? Color.Inherit : Color.Default" Indeterminate="true" />
                        }

                        <MudSpacer></MudSpacer>

                        @if (ToolbarCenterTemplate != null)
                        {
                            @ToolbarCenterTemplate
                            <MudSpacer></MudSpacer>
                        }

                        <ToolbarMenuItems>
                            @ToolbarEndTemplate

                            @if (_RenderCloneButton)
                            {
                                <MudTooltip Text="@Loc["Clone"]">
                                    <MudButtonExtended KeyboardKey="KeyboardKeys.KeyC"
                                                        Variant="Variant.Text"
                                                        Color="NavIconFlatColor ? Color.Inherit : Color.Default"
                                                        Style="min-width:40px;"
                                                        aria-label="@Loc["Clone"]"
                                                        OnClick="CloneAndOpen">
                                        <MudIcon Icon="@Icons.Material.Filled.ContentCopy"></MudIcon>
                                    </MudButtonExtended>
                                </MudTooltip>
                            }

                            @if (_RenderPrintButton)
                            {
                                <MudTooltip Text="@Loc["Print"]">
                                    <MudButtonExtended KeyboardKey="KeyboardKeys.KeyP"
                                                        Style="min-width:40px;"
                                                        Color="NavIconFlatColor ? Color.Inherit : Color.Warning"
                                                        Variant="Variant.Text"
                                                        Size="Size.Medium"
                                                        Disabled="DisablePrint || Mode > FormModes.Archive || TaskInProgress != FormTasks.None"
                                                        aria-label="@Loc["Print"]"
                                                        OnClick="PrintItem">
                                        @if (TaskInProgress == FormTasks.Print)
                                        {
                                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                        }
                                        else
                                        {
                                            <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.Print" />
                                        }
                                    </MudButtonExtended>
                                </MudTooltip>
                            }

                            @if (_RenderRevisionButton)
                            {
                                <MudTooltip Text="@Loc["Revisions"]">
                                    <MudButtonExtended KeyboardKey="KeyboardKeys.KeyR"
                                                        Style="min-width:40px;"
                                                        Disabled="DisableRevisions || Mode > FormModes.Archive || TaskInProgress != FormTasks.None"
                                                        Variant="Variant.Text"
                                                        Size="Size.Medium"
                                                        Color="NavIconFlatColor ? Color.Inherit : Color.Warning"
                                                        aria-label="@Loc["Revisions"]"
                                                        OnClick="ViewRevisions">
                                        @if (TaskInProgress == FormTasks.FetchRevisions)
                                        {
                                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                        }
                                        else
                                        {
                                            <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.History" />
                                        }
                                    </MudButtonExtended>
                                </MudTooltip>;
                            }

                            @if (_RenderDeleteButton)
                            {
                                <MudTooltip Text="@Loc["Delete"]">
                                    <MudButtonExtended KeyboardKey="KeyboardKeys.KeyD"
                                                        Style="min-width:40px;"
                                                        Disabled="DisableDelete || Mode > FormModes.View || TaskInProgress != FormTasks.None"
                                                        Variant="Variant.Text"
                                                        Size="Size.Medium"
                                                        Color="NavIconFlatColor ? Color.Inherit : Color.Error"
                                                        aria-label="@Loc["Delete"]"
                                                        OnClick="DeleteItem">
                                        @if (TaskInProgress == FormTasks.Delete)
                                        {
                                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                        }

                                        else
                                        {
                                            <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.DeleteForever" />
                                        }
                                    </MudButtonExtended>
                                </MudTooltip>
                            }

                            @if (_RenderEditButton)
                            {
                                <MudTooltip Text="@Loc["Edit"]">
                                    <MudButtonExtended Style="min-width:40px;"
                                                        Disabled="DisableEdit || Mode > FormModes.View || TaskInProgress != FormTasks.None"
                                                        Variant="Variant.Text"
                                                        Size="Size.Medium"
                                                        Color="NavIconFlatColor ? Color.Inherit : Color.Primary"
                                                        aria-label="@Loc["Edit"]"
                                                        KeyboardKey="KeyboardKeys.KeyE"
                                                        OnClick="EditItem">
                                        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.Edit" />
                                    </MudButtonExtended>
                                </MudTooltip>
                            }
                        </ToolbarMenuItems>

                        @if (_RenderHeaderControlsDivider && MudDialog != null)
                        {
                            <MudDivider Vertical="true" Class="shift-vertical-divider"></MudDivider>
                        }

                        @if (MudDialog != null)
                        {
                            @ToolbarControlsTemplate

                            <MudTooltip Text="@Loc["NewTab"]">
                                <MudButtonExtended KeyboardKey="KeyboardKeys.KeyN"
                                                    Variant="Variant.Text"
                                                    Color="NavIconFlatColor ? Color.Inherit : Color.Default"
                                                    Style="min-width:40px;"
                                                    aria-label="@Loc["NewTab"]"
                                                    OnClick="OpenInNewTab">
                                    <MudIcon Icon="@Icons.Material.Filled.OpenInNew"></MudIcon>
                                </MudButtonExtended>
                            </MudTooltip>

                            <MudTooltip Text="@(Maximized != true ? Loc["Maximize"] : Loc["Minimize"])">
                                <MudButtonExtended KeyboardKey="KeyboardKeys.KeyM"
                                                    Style="min-width:40px;"
                                                    Variant="Variant.Text"
                                                    Size="Size.Medium"
                                                    Color="NavIconFlatColor ? Color.Inherit : Color.Default"
                                                    aria-label="@(Maximized != true ? Loc["Maximize"] : Loc["Minimize"])"
                                                    OnClick="ResizeForm">
                                    <MudIcon Size="Size.Medium" Icon="@(Maximized != true ? Icons.Material.Filled.Fullscreen : Icons.Material.Filled.FullscreenExit)" />
                                </MudButtonExtended>
                            </MudTooltip>

                            <MudTooltip Text="@Loc["ModalClose"]">
                                <MudButtonExtended KeyboardKey="KeyboardKeys.Escape"
                                                    Style="min-width:40px;"
                                                    Variant="Variant.Text"
                                                    Size="Size.Medium"
                                                    Color="NavIconFlatColor ? Color.Inherit : Color.Default"
                                                    aria-label="@Loc["ModalClose"]"
                                                    OnClick="() => Cancel()">
                                    <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.Close" />
                                </MudButtonExtended>
                            </MudTooltip>
                        }
                    </MudToolBar>
                }

                @HeaderTemplate

                @if (Mode == FormModes.Archive)
                {
                    <MudAlert Severity="Severity.Warning">@Loc["RevisionIndicator"]</MudAlert>
                }

                @if (Value.IsDeleted)
                {
                    <MudAlert Severity="Severity.Error">@Loc["DeletedIndicator"]</MudAlert>
                }

                @if (AlertEnabled)
                {
                    <MudAlert Severity="@AlertSeverity">@AlertMessage</MudAlert>
                }
            </header>

            @if (EditContext == null)
            {
                <div Style="padding: 50px; display: flex; justify-content: center;">
                    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                </div>
            }
            else
            {

                <EditForm EditContext="EditContext"
                          @ref="Form"
                          OnSubmit="@(async() => await SubmitHandler(this.EditContext))"
                          style="height: 100%;">

                    <ShiftValidator @ref="shiftValidator" DisableValidationOnFieldChange="OnlyValidateOnSubmit" EnableFluentValidation Validator="Validator" />
                    @* <DataAnnotationsValidator /> *@
                    @* <FluentValidationValidator ></FluentValidationValidator> *@

                    <div @ref="ContentContainerRef" class="@ContentCssClass">
                        <div class="pa-6">
                            <CascadingValue Value="Mode < FormModes.Edit" Name="@FormHelper.ParentReadOnlyName">
                            <CascadingValue Value="TaskInProgress != FormTasks.None" Name="@FormHelper.ParentDisabledName">
                            <CascadingValue Value="Mode" >

                                @if (TypeAuthAction == null
                                    || TypeAuthService == null
                                    || (Mode >= FormModes.Edit && TypeAuthService.Can(TypeAuthAction, Access.Write))
                                    || (Mode <= FormModes.Archive && TypeAuthService.Can(TypeAuthAction, Access.Read)))
                                {
                                    
                                    @if (Value is IHasBrandSelection<T> dtoWithBrand)
                                    {
                                        var fieldId = FieldIdentifier.Create(() => dtoWithBrand.Brand);
                                        var errorText = EditContext.GetValidationMessages(fieldId).FirstOrDefault();
                                        <ShiftAutocomplete Label="@Loc["BrandAutocompleteLabel"]"
                                                           Value="dtoWithBrand.Brand"
                                                           ValueChanged="(value) => { if (value != dtoWithBrand.Brand) { dtoWithBrand.Brand = value;EditContext.NotifyFieldChanged(fieldId);} }"
                                                           TEntitySet="ShiftSoftware.ShiftIdentity.Core.DTOs.Brand.BrandListDTO"
                                                           EntitySet="IdentityBrand"
                                                           BaseUrlKey="ShiftIdentityApi"
                                                           For="() => dtoWithBrand.Brand"
                                                           Error="!EditContext.IsValid(fieldId)"
                                                           ErrorText="@errorText"/>

                                    }

                                    @if (ChildContent != null)
                                    {
                                        @ChildContent(new(this))
                                    }


                                    @if (Value is ShiftSoftware.ShiftEntity.Core.Flags.IHasDraftCheckBox<T> dtoWithDraftFlag)
                                    {
                                        var fieldId = FieldIdentifier.Create(() => dtoWithDraftFlag.IsDraft);
                                        var errorText = EditContext.GetValidationMessages(fieldId).FirstOrDefault();

                                        if (Value.ID == default && !dtoWithDraftFlag.IsDraft.HasValue)
                                            dtoWithDraftFlag.IsDraft = true;

                                        <MudCheckBoxExtended Label="@Loc["DraftVersionCheckboxLabel"]"
                                                             Value="dtoWithDraftFlag.IsDraft"
                                                             T="bool?"
                                                             ValueChanged="(value) => { if (value != dtoWithDraftFlag.IsDraft) { dtoWithDraftFlag.IsDraft = value; EditContext.NotifyFieldChanged(fieldId);} }"
                                                             For="() => dtoWithDraftFlag.IsDraft"
                                                             Error="!EditContext.IsValid(fieldId)"
                                                             ErrorText="@errorText"/>
                                    }

                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Error">
                                        @(Mode >= FormModes.Edit ? Loc["WriteAccessDenied", GetTitle()] : Loc["ReadAccessDenied", GetTitle()])
                                    </MudAlert>
                                }
                                
                            </CascadingValue>
                            </CascadingValue>
                            </CascadingValue>
                        </div>
                    </div>

                    <footer>
                        @FooterTemplate

                        @if (!(DisableFooterToolbar || IsFooterToolbarEmpty))
                        {
                            <MudToolBar>

                                @FooterToolbarStartTemplate

                                <MudSpacer></MudSpacer>

                                @if (FooterToolbarCenterTemplate != null)
                                {
                                    @FooterToolbarCenterTemplate
                                    <MudSpacer></MudSpacer>
                                }

                                @FooterToolbarEndTemplate

                                @if (Mode == FormModes.Edit && !ForceSaveAsNew)
                                {
                                    <MudButtonExtended KeyboardKey="KeyboardKeys.Escape"
                                                Disabled="@(TaskInProgress != FormTasks.None)"
                                                StartIcon="@Icons.Material.Filled.Cancel"
                                                OnClick="CancelChanges">
                                        @Loc["CancelChanges"]
                                    </MudButtonExtended>
                                }
                                else if (Mode == FormModes.Archive)
                                {
                                    <MudButtonExtended KeyboardKey="KeyboardKeys.Escape"
                                                Disabled="@(TaskInProgress != FormTasks.None)"
                                                StartIcon="@Icons.Material.Filled.Cancel"
                                                OnClick="CloseRevision">
                                        @Loc["CloseRevisions"]
                                    </MudButtonExtended>
                                }

                                @if (_RenderSubmitButton)
                                {
                                        <MudButtonGroup Color="Color.Primary" Variant="Variant.Text">
                                            <MudButtonExtended KeyboardKey="KeyboardKeys.KeyS" ButtonType="ButtonType.Button" Disabled="@DisableSubmit" OnClick="async () => await SubmitHandler(this.EditContext, this.ForceSaveAsNew ? FormTasks.SaveAsNew : FormTasks.Save)">
                                                @if (TaskInProgress == FormTasks.Save || TaskInProgress == FormTasks.SaveAsNew)
                                                {
                                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                                }
                                                else
                                                {
                                                    <MudIcon Icon="@Icons.Material.Filled.Save" />
                                                }

                                                <MudText Style="padding:0 10px;">
                                                    @if (ForceSaveAsNew)
                                                    {
                                                        @Loc["Save as New"]
                                                    }
                                                    else
                                                    {
                                                        @_SubmitText
                                                    }
                                                </MudText>
                                            </MudButtonExtended>
                                            @if (Mode == FormModes.Edit && AllowSaveAsNew && !ForceSaveAsNew)
                                            {
                                                <MudMenu Color="Color.Primary" Disabled="@DisableSubmit" Icon="@Icons.Material.Filled.ArrowDropDown">
                                                    <MudMenuItem OnClick="async () => await SubmitHandler(this.EditContext, FormTasks.SaveAsNew)" IconColor="Color.Primary" Icon="@Icons.Material.Filled.SaveAs">@Loc["Save as New"]</MudMenuItem>
                                                </MudMenu>
                                            }
                                        </MudButtonGroup>
                                    }
                            </MudToolBar>
                        }
                    </footer>

                </EditForm>
            }
        </MudPaper>
    </MudFocusTrap>
</article>
</CascadingValue>
